#empresasPage {
  .container-fluid {
    width: 100%;
  }

  #searchCriteria {
    width: calc(4rem + 9vw);
    border-color: #0d6efd;
  }

  #searchGroup {
    width: fit-content;

    .dropdown-menu {
      padding-left: 0.5rem;

      .form-check {
        margin: 0.5rem;
      }
    }

    svg {
      position: relative;
      top: -2px;
    }
  }
}
